/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-general), 'sans-serif';
  font-variation-settings: 'wght' var(--weight-family-general-title);
  background-color: var(rgba(255, 255, 255, 1));
  background-image: var(--bg-image-gradient);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

/* header start */

.header {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  /* min-inline-size: 375px;
  min-block-size: 327px; */
  /* block-size: 327px; */
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 120px 14px;
}

.header__title {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: clamp(3.063rem, 2.063rem + 3.2vi, 4.063rem);
}

.header__text {
  font-family: var(--font-family-accent);
  font-size: clamp(0.875rem, 0.313rem + 1.8vi, 1.438rem);
  font-weight: 400;
  text-transform: uppercase;
}

/* header end */

/* main start */

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: bottom;
  inline-size: 100%;
  block-size: 100%;
  width: 100%;
  /* min-height: 375px; */
  height: 375px;
  border-top: 2px solid rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.card__title {
  font-family: var(--font-family-general), 'sans-serif';
  font-size: 18px;
  padding-left: 10px;
  padding: 4px 10px 6px 10px;
}

.card__image-block {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.card__label {
  position: absolute;
  font-family: var(--font-family-accent);
  font-size: 14px;
  top: 22px;
  right: 13px;
  text-shadow: 1px rgba(255, 255, 255, 1);
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (-webkit-text-stroke: 1px rgba(255, 255, 255, 1)) {
  .card__label {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1)
  };
}

.card__paragrah-block {
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-variation-settings: 'wght' var(--weight-family-general-text);
}

.card__paragrah {
  font-size: 18px;
  line-height: 21px;
  padding-right: 3px;
  padding-top: 3px;
}

.card__paragrah-life-style {
  padding-right: 5px;
}

.card__paragrah-experience {
  padding-right: 2px;
}

.card__paragrah-my {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 25px;
  padding-bottom: 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  height: 38px;
  transition: border 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid rgba(0, 0, 0, 1);
  font-family: var(--font-family-accent);
  font-size: 14px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.button__text {
  position: relative;
  color: var(--color-button-text);
  mix-blend-mode: difference;
  z-index: 1;
  font-size: 14px;
}

/* фильтры карточек */

.image-html-first {
  filter: brightness(150%);
}

.image-css {
  filter: contrast(150%);
}

.image-desigions {
  filter: opacity(50%);
}

.image-care {
  filter: grayscale(150%);
}

.image-support {
  filter: saturate(150%);
}

.image-lifes-style {
  filter: blur(0px) invert(70%);
}

.image-experience {
  filter: sepia(100%);
}

/* main end */

/* svg heart start */

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart {
  animation: heart-animation 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: spark-animation 0.3s ease-in 0.3s;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}


/* svg heart end */


/* состояние кнопок start */

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: translateX(0);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
  transition: transform 0.3s ease;
}

.button:focus-visible {
  border: 2px solid rgba(0, 0, 0, 1);
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid rgba(0, 0, 0, 1);
  transition: border 0.3s ease;
}

/* состояние кнопок end */

/* section save start */

.save {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}

.save__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: rgba(255, 255, 255, 1);
  width: 306px;
  height: 84px;
  border: 2px solid rgba(0, 0, 0, 1);
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 90%;
  overflow: hidden;
  margin-bottom: 100px;
  transition: box-shadow 0.3s ease, transform 0.5s ease-in-out;
  position: relative;
  padding-bottom: 6px;
}

.button__floppy {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1;
  top: 4px;
}

.dialog__button__floppy {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1;
}

.footer__text {
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 90%;
}

.dialog {
  font-family: var(--font-family-accent);
  width: 345px;
  height: 195px;
  border: 2px solid rgba(0, 0, 0, 1);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog:open {
  display: grid;
  grid-template-columns: 40px 196px;
  grid-template-rows: 65px 40px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 30px 20px;
  text-transform: uppercase;
}

.dialog:open .save__button-ok {
  grid-column: 1 / -1;
  grid-row: 2;
}

.save__button-ok {
  width: 257px;
  height: 38px;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: transparent;
  transition: box-shadow 0.3s ease, transform 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

/* section save end */

@media (width >= 376px) {
  .header__container {
    /* max-width: 700px;
    width: 100%;
    height: 368px; */
    padding: 128px 0;
    width: 100%;
    max-width: 700px;
  }

  .card {
    max-width: 700px;
    width: 100%;
    min-block-size: 959px;
  }

  .card__title {
    /* inline-size: 969px; */
  }

  .card__label {
    top: 27px;
    right: 26px;
  }

  .card__image-block {
    /* inline-size: 696px; */
    block-size: 696px;
  }

  .card__image {
    width: 100%;
    height: 100%;
  }

  .save__button {
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding-top: 6px;
    width: 335px;
    height: 55px;
  }

  .button__floppy {
    width: 22px;
    height: 21px;
    top: 0;
  }

  .card__paragrah-block {
    padding: 25px 25px 23px 25px;
  }
}







